<app-header></app-header>

<section id="hero">
    <h1>Super value deals.</h1>
    <h3>Bags and accessories that everyone should have.</h3>
    <button class="normal" (click)="goToShop()"> Shop Now </button>

</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="/assets/img/freeShiping.jpg" alt="" height="120">
        <h6> Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_3.png" alt="">
        <h6>Save money</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/promotions.jpg" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/img_4.png" alt="">
        <h6>Support</h6>
    </div>
</section>


<section id="product1" class="section-p1">
    <h3>Featured Products</h3>
    <p>New Collection</p>
    <div class="pro-container">
        <div class="pro" *ngFor="let product of productLists ">
            <img src={{product.image}} alt="" height="280">
            <div class="des">
                <h5>{{product.name}}</h5>
                <h4>{{product.price | currency : 'USD'}}</h4> 
            </div>
        </div>

    </div>
</section>

<section id="sm-banner" class="section-p1">

    <div class="banner-box">
        <h4>crazy deals</h4>
        <h3>buy 1 get 1 free</h3>
        <span>The best classic LV bag is on sale.</span>
    </div>
    <div class="banner-box banner-box2">
        <h4>Spring/Summer</h4>
        <h3>upcoming season</h3>
        <span>The Prada mini bags is available at Iconic Store</span>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h3>SEASONAL SALE</h3>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h3>NEW ACCESSORIES COLLECTION</h3>
        <h3>Spring/Summer 2023</h3>
    </div>
    <div class="banner-box banner-box3">
        <h3>LUXURY BAGS</h3>
        <h3>NEW TRENDS ARRIVED</h3>
    </div>
</section>

<app-footer></app-footer>