<p>
In the 80s, Prada and Bertelli introduced a womenswear line that was blazoned with low waistlines and narrow 
belts. It was a huge success and launched Prada to become the well-known name it is today.

<br>

Prada began gaining popularity in 1985, when she unveiled a series of black nylon handbags and backpacks with
understated labeling—a stark contrast to the logo heavy clothes that dominated the fashion world at the time.

<br>

Prada doesn't rely on iconic logos like other luxury fashion houses. Instead of making its pieces recognisable with a
certain symbol or design, the brand focuses on staying true to its unique aesthetic. This understated and self-assured
approach to design is one of the reasons why Prada has been so successful.

<br>







</p>
