<app-header></app-header>

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save up to 70% off!</p>
</section>
<section id="product1" class="section-p1">
    <div class="pro-container">
        <div class="pro" *ngFor="let product of productLists">
        <div (click)="goToSingleProduct(product.id)">
            <img src={{product.image}} alt="" height="280">
            <div class="des">
                <h5>{{product.brand}}</h5>
                
                <h4>{{product.price | currency : 'USD'}}</h4>
            </div>
            <button class="normal" (click)="goToCart()" i class="fa fa-shopping-cart cart">.</button>
    
        </div>
        </div>
    </div>
</section>

<!--<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa fa-angle-double-right"></i></a>
</section> -->


<app-footer></app-footer>
        

